<!doctype html>
<html lang="en-US">
  <head>
    <title>CRM System</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/crm.css" />
  </head>

	<body>
		<h1>ACME Music Tuition</h1>
			<a href="/">Dashboard</a>
			<a href="/admin">Admin</a>
			<a href="/invoicing">Sessions & Invoicing</a>
		<%= yield %>
	</body>
</html>
