<h1>Add a New Student</h1>

<form name="student_info" action="/admin/new_student" method="post">

  <div>
    <label for="first_name">
      Student First Name:
     	<input name="first_name" type="text" required>
    </label>
  </div>

  <div>
    <label for="last_name">
      Student Last Name:
      <input name="last_name" type="text" required>
    </label>
  </div>

  <div>
    <button type="submit">Save Student</button>
  </div>

</form>
