<h1>Add a New Address</h1>

<form name="address" action="/admin/new_address" method="post">

  <div>
    <label for="address_line_1">
      Address Line 1:
     	<input name="address_line_1" type="text" required>
    </label>
  </div>

  <div>
    <label for="address_line_2">
      Address Line 2:
      <input name="address_line_2" type="text" required>
    </label>
  </div>

  <div>
    <label for="Town">
      Town:
      <input name="town" type="text" required>
    </label>
	</div>
	
  <div>
    <label for="postcode">
      Postcode:
      <input name="postcode" type="text" required>
    </label>
  </div>

  <div>
    <button type="submit">Save Address</button>
  </div>

</form>
